.intro-container {
  padding: 20px;
}

.intro-detail-content {
  width: 100%;
  background-color: #fef9ee;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 18px;
}

.intro-detail-strong-text {
  font-size: 28px;
  color: rgb(192, 0, 0);
}
